* {
    box-sizing: border-box;
}

/* GENERAL */

body {
    font-family: Helvetica;
    padding-top: 50px;
}

a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

header {
    background: pink;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 12px;
    z-index: 100;
}

.topnav {
    padding: 0 9%;
}

.container {
    width: 892px;
    margin: 0 auto;
}

.content {
    text-align: center;
}

.headline {
    background: url(images/confetti.jpg) no-repeat 0 0;
    padding-top: 30px;
    height: 544px;
}

h1 {
    float: left;
}

/* NAV */

.nav {
    float: right;
}

.nav li {
    display: inline-block;
}

.nav a {
    display: block;
    padding: 6px;
    font-size: 18px;
}

.nav a:hover {
    background: white;
}

.hilite {
    background: yellow;
}

.headline {
    /*float: left;*/
}

h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 1.2em 0;
}

/* QUOTES */

.quotes {
    overflow: auto;
    padding: 0 9%;
}

.quote {
    text-align: left;
    width: 47%;
    display: inline-block;
    /*float: left;*/
    background: lightblue;
    margin-bottom: 10px;
    vertical-align: top;
}

.quote.first {
    margin-right: 5%;
}

.quote q {
    font-family: Georgia;
    font-size: 24px;
    font-style: italic;
    line-height: 1.4;
    display: block;
    position: relative;
}

.quote q:before {
    content:"“";
    position: absolute;
    top: -6px;
    right: 103%;
    color: #888;
    font-size: 48px;
}

cite {
    display: block;
    color: #aaa;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    padding-top: 1em;
    line-height: 1.4;
    position: relative;
    padding-left: 62px;
}

cite:before {
    content: "";
    height: 48px;
    width: 48px;
    display: block;
    position: absolute;
    top: 18px;
    left: 0;
    border-radius: 50%;
    border: 1px solid #777;
}

.dexter cite:before {
    background-image: url(images/dexter.jpg);
}

.baretta cite:before {
    background-image: url(images/baretta.jpg);
}

cite strong {
    font-weight: bold;
    font-size: 20px;
    color: black;
    display: block;
}

footer {
    background: #454D4D;
    color: white;
    overflow: auto;
}

footer h4 {
    color: rgba(255,255,255,.5);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    margin-bottom: 4px;
}

.footer-list {
    width: 25%;
    padding: 2em 0;
    float: left;
}

footer a {
    color: #aaa;
    font-size: 20px;
}





